{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="section1">
    <h2 class="titre1">Sandrine Coupart</h2>
    <h3 class="titre2">DIÉTÉTICIENNE NUTRITIONNISTE</h3>
</div>

<div class="conteneur">
<div class="image1">
    <img src="https://media.discordapp.net/attachments/971727360430850062/1115224296579670046/votre-sante-depend-de-la-nutrition-appropriee-fruits-et-legumes-90440440.webp?width=579&height=326" alt="">
</div>
<div>
    <h2 class="titre3">DIÉTÉTICIENNE À CAEN</h2>
    <p class="texte1">Je suis diététicienne nutritionniste libérale, diplômée d’État, et je possède plus de 15 ans d’expérience dans le domaine.<br> Je vous propose des consultations en cabinet à Caen,<br> ainsi que des visio-consultations sécurisées via la plateforme Doctolib, qui me permettent d'interagir avec des patients dans toute la France.</p>
</div>
</div>
<div class="image2">
  <img src="https://media.discordapp.net/attachments/971727249474732053/1115397901011652648/20230605_235245_0000.png?width=1232&height=386" alt="">
</div>

<div>
  <h1 class="titre4">Votre Diététicienne Nutritionniste spécialisée</h1>
    <p class="texte2">Votre santé physique et mentale dépendent étroitement de vos choix alimentaires et de votre relation avec la nourriture. Au-delà de votre apparence, votre corps est essentiel à votre bien-être, et il est inestimable de prendre soin de lui au quotidien. Afin de veiller à votre alimentation et d'adapter votre consommation alimentaire à vos besoins nutritionnels, il est primordial de travailler sur votre attitude envers la nourriture. Le premier pas vers une relation apaisée avec l'alimentation consiste à vous faire accompagner dans votre régime. Pour cela, il est crucial de choisir un nutritionniste possédant des compétences spécifiques pour vous aider à tous les niveaux.</p>
</div>

<div class="conteneur">
  <div>
    <h2 class="titre5">A propos de moi</h2>
      <p class="texte3">Mon principal objectif est d'améliorer le mode de vie global des personnes que j'accompagne, en évitant les régimes stricts standardisés qui privent du plaisir de manger. Je crois fermement que le plaisir de manger est essentiel pour une gestion nutritionnelle réussie. Il ne devrait pas être considéré comme une corvée de préparer un repas équilibré. Souvent, quelques conseils précis et faciles à mettre en pratique suffisent. En plus de ces conseils, j'ai également inclus des recettes délicieuses et simples à préparer pour vous aider.</p>
  </div>
  <div>
  <img src="https://media.discordapp.net/attachments/971727249474732053/1115400782615949312/pomme-bienfaits.jpg?width=639&height=381" alt=""></div>
</div>

<style>
.section1 {
  width: 100%;
  height: 140px;
  background-color: #609A7D; 
  margin-top: 4%;
}

.conteneur {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 6%;
}
.image1{
    margin-right: 40px;
}
.titre1{
  color: F3F3F7;
  margin-left: 2%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.titre2{
  color: F3F3F7;
  margin-top: 3%;
  margin-left: 2%;
  font-family: baloo bhaina;
}
.titre3{
  margin-top: 2%;
  font-family: baloo bhaina;
  text-align: center;
}
.texte1{
  margin-top: 6%;
  font-family: noto sans;
  font-size: 22px;;
}
.image2{
    margin-top: 8%;
}
.titre4{
  margin-top: 2%;
  font-family: baloo bhaina;
  text-align: center;
}
.texte2{
  margin-top: 2%;
  font-family: noto sans;
  font-size: 22px;;
}
.titre5{
  margin-top: 2%;
  font-family: baloo bhaina;
  text-align: center;
}
.texte3{
  margin-top: 2%;
  font-family: noto sans;
  font-size: 22px;;
}
</style>
{% endblock %}
